<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Makerspace: an Education Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Home</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="index.html">Home</a></li> -->
							<li><a href="our_story">Our Story</a></li>
							<li><a href="community">Community</a></li>
							<li class="has-dropdown">
								<a href="events">Events</a>
								<ul class="dropdown">
									<li><a href="/events#workshops">Workshops</a></li>
									<li><a href="/events#events">Events</a></li>
									<li><a href="/events#timeline">Timeline</a></li>
								</ul>
							</li>
							<li><a href="resources">Resources</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img7.JPG);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Making Education: <strong>Makerspace</strong> as an Education Tool</h1>
							<p style="color: #fceeeb;">This website was created as part of our final project for the Making Education class and it reflects our team's experience in learning about and collaborating in setting up makerspaces in two schools in Kathmandu, Nepal. We hope that what you will find here can serve as inspiration for you so that you can start your own makerspace anywhere around the world! Join the <a href="https://en.wikipedia.org/wiki/Maker_culture" style="color:  #ffb7a8;">maker movement!
							</a></p>
							<!--<p><a href="#" class="btn btn-primary btn-lg with-arrow">View Our Work</a></p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What is your role?</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3><a href="community#community" style="color:  #ffb7a8;">Makerspace Facilitator</a></h3>
						<strong class="role">Teacher/Administrator</strong>
						<p>We recommend to look at <a href="community#community" style="color:  #ffb7a8;">community building</a> aspect of the makerspace and read about <a href="#our-vision" style="color:  #ffb7a8;">the vision </a> behind makerspaces.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3><a href="resources" style="color:  #ffb7a8;">Maker</a></h3>
						<strong class="role">Or Wannabe Maker</strong>
						<p>If you are not sure what the makerspace is take a look <a href="#what-is-a-makerspace" style="color:  #ffb7a8;">here</a>. Otherwise, take a look at compilation of <a href="resources" style="color:  #ffb7a8;">resources</a> that we prepared for you.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3><a href="resources" style="color:  #ffb7a8;">Maker Supporter</a></h3>
						<strong class="role">Parent or Mentor</strong>
						<p>We think that <a href="resources" style="color:  #ffb7a8;">this section</a> of the website would be most useful to you.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container" id="what-is-a-makerspace">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What is a Makerspace?</h2>
					<p>A makerspace, as the word itself implies, is a space set up with the intention to make, to build {insert object}.
					</p>
				</div>
			</div>
			<div class="iphone">
						<img class="img-responsive" src="images/img7.JPG" alt="Karkhana">
					</div>
				<div>
					<br>
					<br>
					<p>However, in its essence, makerspaces denote more than that. They represent a non-formal education tool through the methods it makes use of, it denotes a collaborative and learning-conducive environment with a less restrictive curriculum than its traditional counterpart hence leaving more room for creativity and innovation.
					</p>
				</div>
			<div class="row">
				<div class="col-md-3">
					
				
				</div>
				<div class="col-md-6">
					<div class="row services-inner">
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<img class="img-responsive" src="images/icon1.png" alt="iphone" width="50%">
								</span>
								
								<p>“Makerspaces represent the democratization of design, engineering, fabrication, and education.” <a href="https://spaces.makerspace.com/">(spaces.makerspace)</a></p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<img class="img-responsive" src="images/icon2.png" alt="iphone" width="50%">
								</span>
			
								<p>"A makerspace is a place where students can gather to create, invent, tinker, explore and discover using a variety of tools and materials." <a href="http://renovatedlearning.com/2015/04/02/defining-makerspaces-part-1/">(renovatedlearning)</a></p></p>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="feature-center animate-box" data-animate-effect="fadeIn">
								<span class="icon">
									<img class="img-responsive" src="images/icon3.png" alt="iphone" width="50%">
								</span>
								
								<p>"There are no rules here &mdash; we're trying to accomplish something." <i>Thomas Edison</i></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container" id="our-vision">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What is a Makerspace?</h2>
					<p>
						As we have seen, the definition of makerspace is very broad. Makerspaces vary from family garages to sustainable businesses. However, in the context of education we believe that makerspaces should share the following properties:
						<p><font color="red">Project driven</font> - critical thinking skills, solving real life  problems, preparing for maker faire or science fair rather than pure tool training.</p>

						<p><font color="red">Inclusive</font> - there is no place for discrimination (do not confuse with constructive criticism) in the makerspace, everyone is welcome, if students are willing to join the makerspace they should be able to do so at no cost. If students are willing to obey established rules of the space (safety related rules, rules against stealing, etc) they should be able to continue being involved with the space at no cost</p>

						<p><font color="red">Multidisciplinary</font> - makerspaces are not only about woodworking, electronics and soldering. Anything that involves making, such as crafts, sewing, egg painting, etc should be welcome in the makerspace</p>

						<p><font color="red">Fostering Apprenticeship</font> - makerspace should encourage apprenticeship and mentorship. If someone is developing a project and is willing to use the tool that they haven’t used before, they should be able to receive help or observe someone who is using this tool for their own project.</p>
					</p>
				</div>
			</div>
		</div>
	</div>
<!--	
	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Our Latest Work</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
		</div>
		<div class="project-content">
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/project-8.jpg);">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/project-1.jpg);">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/project-2.jpg);">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
			<div class="col-forth">
				<div class="project animate-box" style="background-image:url(images/project-3.jpg);">
					<a href="#" class="desc">
						<span>Application</span>
						<h3>Project Name</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
-->
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Nepal: Field Research</h2>
					<p>
						Between March 13<sup>th</sup>-18<sup>th</sup> our class went on a trip to Nepal to get a closer look at Karkhana’s activity and to research, share, and further develop any current ideas each of the group might have had at that point. Here are some pictures taken in Kathmandu.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img1.JPG" alt="user" width="80%">
									<blockquote>
										<p>One of our classmates looking at Karkhana's tool inventory</p>
									</blockquote>
								</div>
							</div>
							
							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img2.JPG" alt="user" width="80%">
									<blockquote>
										<p>Our first visit in Kathmandu: Galaxy Public School</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img3.JPG" alt="user" width="80%">
									<blockquote>
										<p>First possible space for GPS's makerspace</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img12.jpg" alt="user" width="80%">
									<blockquote>
										<p>While some of us were at GPS, other team members went to VS Niketan school to talk to students about makerspaces</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img4.JPG" alt="user" width="80%">
									<blockquote>
										<p>Exchanging ideas with the maker mentors and GPS's officials</p>
									</blockquote>
								</div>
							</div>							


							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img13.jpg" alt="user" width="80%">
									<blockquote>
										<p>Students at VS Niketan designed a poster for their makerspace</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img5.JPG" alt="user" width="80%">
									<blockquote>
										<p>Muaz describing students the problem-solution activity</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img6.JPG" alt="user" width="80%">
									<blockquote>
										<p>GPS students came up with a set of rules to govern the makerspace</p>
									</blockquote>
								</div>
							</div>


							


							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img8.JPG" alt="user" width="80%">
									<blockquote>
										<p>Nepal Communitere's personnel at work</p>
									</blockquote>
								</div>
							</div>


							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img9.JPG" alt="user" width="80%">
									<blockquote>
										<p>At Communitere people gather on Friday evenings in this space to connect with each other</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img10.JPG" alt="user" width="80%">
									<blockquote>
										<p>Student project at the Innovation Hub founded by US Embassy in Nepal</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img16.jpg" alt="user" width="80%">
									<blockquote>
										<p>Peter during his workshop at the M.R. Technical School in Kathmandu</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img17.jpg" alt="user" width="80%">
									<blockquote>
										<p>Students at M.R. Technical School learnt about infrographics</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img11.jpg" alt="user" width="80%">
									<blockquote>
										<p>Our team presenting our work to Karkhana</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img18.jpg" alt="user" width="80%">
									<blockquote>
										<p>Sujan and one student planning their next project</p>
									</blockquote>
								</div>
							</div>


							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img19.jpg" alt="user" width="80%">
									<blockquote>
										<p>LMV Makerspace's peg board in progress...</p>
									</blockquote>
								</div>
							</div>

							<div class="item">
								<div class="testimony-slide active text-center">
									
										<img src="images/slideshow/img20.jpg" alt="user" width="80%">
									<blockquote>
										<p>LMV Makerspace's peg board is now ready for use</p>
									</blockquote>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-started">
		<div class="container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="contact" class="btn btn-default btn-lg">Write to us!</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>


<!--
	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>A Little About Run.</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a class="btn btn-primary btn-outline with-arrow" href="#">Learn More <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>
-->
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

