<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wow! SuperGroup 2!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: Parshuram Subeti</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Run<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="index.html">Home</a></li> -->
							<li><a href="our_story">Our Story</a></li>
							<li><a href="community">Community</a></li>
							<li class="has-dropdown">
								<a href="events">Events</a>
								<ul class="dropdown">
									<li><a href="#">Workshops</a></li>
									<li><a href="#">Events</a></li>
									<li><a href="#">Timeline</a></li>
								</ul>
							</li>
							<li><a href="resources">Resources</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Our Story</h1>
							<h2>Free HTML5 Bootstrap Template Made by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3>Our Story</h3>
							<p>As part of the Making Education class taught at NYU Abu Dhabi during the 2018 Spring semester we worked with Karkhana - an education company in Kathmandu, Nepal. We collaborated with Karkhana in setting up makerspaces in Galaxy Public School and Lalitpur Madhyamik Vidyalaya in Kathmandu. In order to advance our collaboration, we visited Karkhana in Nepal and conducted our field research there to gain insights regarding the challenges that Karkhana faces in establishing Makerspace. </p>
							<p>We realised that setting up the Makerspace is just one building block, whereas the real challenge lies in establishing Maker communities at these Makerspaces. Throughout the project, our activities comprised of research work conducted throughout the semester, workshop design and logistical planning, while the physical setup was the responsibility of our colleagues at Karkhana in collaboration with the school officials. Our team of six has published this website to help those who wish to set up similar working spaces.</p>

						</div>
					</div>
				</div>

				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3> Experience in Nepal </h3>
							<p>Between March 13th-18th, 2018 we went on a trip to Kathmandu, Nepal to get a closer look at Karkhana’s activity and understand the Maker Education culture in Nepal. We conducted research, tested out our ideas, redefined our challenges and changed the scope and directions of our project.</p> 
							<p>We worked with the Karkhana's team and visited different Makerspaces in Kathmandu and Patan to identify the challenges faced by these Makerspace. Moreover, we visited two schools who are interested in starting Makerspaces within the shools -Galaxy Public Schools and VS Niketan.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="http://www.karkhana.asia/"><u>Karkhana </u> </a></h4>
							<p>Karkhana is a disruptive organisation in Nepal, which is trying to change the face of Education in Nepal by creating different learning experiences primarily in the domain of Maker Education. After having successful in-house educational programs and classes at various schools, Karkhana is helping other schools in Nepal in establishing their own Makerspaces.</p>
							<p> Karkhana's extensive experience brings a lot of value to our collaboration. Based on their experiences we learnt from them that the real challenge in running Makerspaces was not the lack of resources, but rather the lack of engagement of the community members. Karkhana had already setup different Makerspaces in Nepal. They focused their efforts on establishing Makerspaces across different schools and fostering Maker communities in these schools.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://nepal.communitere.org"><u>Nepal Communitere Makerspace </u> </a></h4>
							<p> <i>(Introduction adopted from Nepal Communitere's <a href="https://nepal.communitere.org">website</a>) </i> <br> Nepal Communitere is a Nepali run and based non-profit organization that brings together Nepali and international groups to operate as one community.It houses a Makerspace which is open to public and can be used by anyone who is interested in building projects for the community. </p> 
							<p>While visiting Nepal Communitere and discussing with executive director Bahar we were provided with insight on the struggles such organizations face in trying to establish a working business model. Because of reasons that vary from lack of information to reluctancy to using such spaces and to possibly rental rates that are perceived as too high, Communitere’s neighbors make rare use of the former’s resources. This piece of information was of incredible value to us because the schools that we are collaborating with in Nepal will also need a working business model that would justify the school’s and parents’ investments in the makerspaces.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://np.usembassy.gov/makerspace-opens-u-s-embassys-innovation-hub/"><u> US Embassy's Innovation Hub Makerspace </u> </a></h4>
							<p> <i>(Introduction adopted from Nepal Communitere's <a href="https://nepal.communitere.org">website</a>) </i> <br> Nepal Communitere is a Nepali run and based non-profit organization that brings together Nepali and international groups to operate as one community.It houses a Makerspace which is open to public and can be used by anyone who is interested in building projects for the community. </p> 
							<p>While visiting Nepal Communitere and discussing with executive director Bahar we were provided with insight on the struggles such organizations face in trying to establish a working business model. Because of reasons that vary from lack of information to reluctancy to using such spaces and to possibly rental rates that are perceived as too high, Communitere’s neighbors make rare use of the former’s resources. This piece of information was of incredible value to us because the schools that we are collaborating with in Nepal will also need a working business model that would justify the school’s and parents’ investments in the makerspaces.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="http://galaxy.edu.np">  <u>Galaxy Public School </u>  </a></h4>
							<p>Between March 13th-18th our class went on a trip to Kathmandu, Nepal to get a closer look at Karkhana’s activity and understand the Maker Education culture in Nepal. We conducted research, tested out our ideas, redefined our challenges and changed the scope and directions of our project.</p> 
							<p>We worked with the Karkhana team and visited different Makerspaces in Kathmandu and Patan to identify the challenges faced by these Makerspace. Moreover, we visited two schools who are interested in starting Makerspaces within the shools -Galaxy Public Schools and VS Niketan.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://en.wikipedia.org/wiki/V.S._Niketan_Higher_Secondary_School"> <u> V.S Niketan School</u> </a></h4>
							<p>Between March 13th-18th our class went on a trip to Kathmandu, Nepal to get a closer look at Karkhana’s activity and understand the Maker Education culture in Nepal. We conducted research, tested out our ideas, redefined our challenges and changed the scope and directions of our project.</p> 
							<p>When carrying out activities in VS Niketan and running an infographics workshop at Mahendra Rashtriya School, we found that students need some instructions and direction before they begin working. A culture of experimenting and questioning is still nascent in the schools we visited.</p>
						</div>
					</div>

				</div>

			</div>

			<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3>Challenges and New Findings</h3>
							<p>Throughout the trip we saw how the issue of underutilization of various spaces and other resources could determine someone to look at a makerspace as an unworthy investment. From our discussions with administration of Communitere and iHub, we found that the resources are underutilized and even a makerspace stocked with brand new products could be unused. Effectively engaging the community in a makerspace is the hardest challenge our group will deal with.</p>
							<p>Another piece of valuable feedback came during the project presentations in front of members of Karkhana. They reconfirmed that our team’s energy and creativity should be invested into finding solutions for maintaining an involved and interested group of makers in the spaces to be opened.</p>
<!-- 							<ul>
								<li>Lorem ipsum dolor sit amet consectetur</li>
								<li>Assumenda repellat atque modi temporibus</li>
								<li>Dolore facilis ex sunt ea praesentium</li>
							</ul> -->
						</div>
					</div>
				</div>


			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Meet Our Team</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Abhimanyu </h3>
						<strong class="role">Web Designer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Hush Raven</h3>
						<strong class="role">Front-end Developer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
						<h3>Alex King</h3>
						<strong class="role">Back-end Developer</strong>
						<p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Get in Touch</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>A Little About Run.</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a class="btn btn-primary btn-outline with-arrow" href="#">Learn More <i class="icon-arrow-right"></i></a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

