<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Makerspace: an Education Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Home</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<!-- <li class="active"><a href="index.html">Home</a></li> -->
							<li><a href="our_story">Our Story</a></li>
							<li><a href="community">Community</a></li>
							<li class="has-dropdown">
								<a href="events">Events</a>
								<ul class="dropdown">
									<li><a href="/events#workshops">Workshops</a></li>
									<li><a href="/events#events">Events</a></li>
									<li><a href="/events#timeline">Timeline</a></li>
								</ul>
							</li>
							<li><a href="resources">Resources</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/our_story/karkhana_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Our Story</h1>
							<h2>A NYUAD-Karkhana Collaboration</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/karkhana_1.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3>Our Story</h3>
							<p>As part of the Making Education class taught at NYU Abu Dhabi during the 2018 Spring semester we worked with Karkhana - an education company in Kathmandu, Nepal. We collaborated with Karkhana in setting up makerspaces in Galaxy Public School and Lalitpur Madhyamik Vidyalaya in Kathmandu. In order to advance our collaboration, we visited Karkhana in Nepal and conducted our field research there to gain insights regarding the challenges that Karkhana faces in establishing Makerspace. </p>
							<p>We realized that setting up the Makerspace is just one building block, whereas the real challenge lies in establishing Maker communities at these Makerspaces. Throughout the project, our activities comprised of research work, workshop design, and logistical planning, while the physical setup was the responsibility of our colleagues at Karkhana in collaboration with the school officials. Our team of six has published this website to help those who wish to set up similar working spaces.</p>

						</div>
					</div>
				</div>

				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/nepal.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3> Experience in Nepal </h3>
							<p>Between March 13th-18th, 2018 we went on a trip to Kathmandu, Nepal to get a closer look at Karkhana’s activity and understand the Maker Education culture in Nepal. We conducted research, tested out our ideas, redefined our challenges and changed the scope and directions of our project.</p> 
							<p>We worked with the Karkhana's team and visited different Makerspaces in Kathmandu and Patan to identify the challenges faced by these Makerspaces. Moreover, we visited two schools who are interested in starting Makerspaces within their own schools -Galaxy Public Schools and VS Niketan. These visits were very insightful as described below.</p>
							<br><br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/karkhana.png" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="http://www.karkhana.asia/"><u>Karkhana </u> </a></h4>
							<p>Karkhana is a disruptive organization in Nepal, which is trying to change the face of Education in Nepal by creating different learning experiences primarily in the domain of Maker Education. After having successful in-house educational programs and classes at various schools, Karkhana is helping other schools in Nepal with establishing their own Makerspaces.</p>
							<p> Karkhana's extensive experience brings a lot of value to our collaborative project. Based on their experiences we learned from them that the real challenge in running Makerspaces was not the lack of resources, but rather the lack of engagement of the community members. Karkhana had already setup different Makerspaces in Nepal. They focused their efforts on establishing Makerspaces across different schools and fostering Maker communities in these schools.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/communitere.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://nepal.communitere.org"><u>Nepal Communitere Makerspace </u> </a></h4>
							<p> <i>(Introduction adopted from Nepal Communitere's <a href="https://nepal.communitere.org">website</a>) </i> <br> Nepal Communitere is a Nepali run and based non-profit organization that brings together Nepali and international groups to operate as one community.It houses a Makerspace which is open to the public and can be used by anyone who is interested in building projects for the community</p> 
							<p>While visiting Nepal Communitere and discussing with executive director Bahar we were provided with insight on the struggles such organizations face in trying to establish a working business model. Because of reasons that vary from lack of information to reluctance to using such spaces and to possibly rental rates that are perceived as too high, Communitere’s neighbors make rare use of the former’s resources. This piece of information was of incredible value to us because the schools that we are collaborating within Nepal will also need a working business model that would justify the school’s and parents’ investments in the makerspace.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/ihub.JPG" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://np.usembassy.gov/makerspace-opens-u-s-embassys-innovation-hub/"><u> US Embassy's Innovation Hub Makerspace </u> </a></h4>
							<p>  Innovation Hub (IHub) is a makerspace sponsored by the US Embassy and it has been set up by Karkhana at US Embassy's Public Library. Even though the Makerspace was abundantly stocked with resources and expensive equipment, the tools were not utilized by the public because: </p> 

							<ul>
								<li>The Library is supposed to be a quite place, therefore, people do not engage with the makerspace.</li>
								<li>The students and community members who visit the library are generally not interested in the makerspace and often they don't even know about it.</li>

							</ul>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/galaxy.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="http://galaxy.edu.np">  <u>Galaxy Public School </u>  </a></h4>
							<p>We visited Galaxy Public School and met with the students and the administration there. The students have already participated in Karkhana's in-house educational programs, and therefore they were excited about the prospect of having a makerspace in their own school. We realized that familiarisation with maker culture and experimentation would be useful in engaging community members and students in makerspaces.</p> 
							<p>Since Galaxy Public School was very keen to establish a makerspace, we chose to focus our energies primarily on it. Therefore, Galaxy was also the first school where we set up the makerspace, and we could test our ideas and plans.</p>
							<br>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6">
						<img class="img-responsive" src="images/our_story/vsniketan.jpg" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h4> <a href="https://en.wikipedia.org/wiki/V.S._Niketan_Higher_Secondary_School"> <u> V.S Niketan School</u> </a></h4>
							<p>	We visited the school and conducted a few activities that we had planned out for students. When carrying out activities in VS Niketan, we found that students need some instructions and direction before they begin working. A culture of experimenting and questioning is still nascent in the schools we visited.</p> 
							<p>Even though the school wanted to set up a makerspace, they were not as eager as Galaxy School. Moreover, their timeline for setting up the makerspace extended far beyond our semester. Therefore we did not set up a Makerspace there. However, Karkhana planned to work with the school once they were ready.</p>
						</div>
					</div>

				</div>

			</div>

			<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<br>
						<img class="img-responsive" src="images/our_story/goal.png" alt="about">
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="desc">
							<h3>Challenges and New Findings</h3>
							<p>	Throughout the trip, we saw how the issue of underutilization of various spaces and other resources could determine someone to look at a makerspace as an unworthy investment. From our discussions with the administration of Communitere and iHub, we found that the resources are underutilized and even a makerspace stocked with brand new products could be unused. Effectively engaging the community in a makerspace is the hardest challenge our group will deal with.</p>
							<p>Another piece of valuable feedback came during the project presentations in front of members of Karkhana. They reconfirmed that our team’s energy and creativity should be invested into finding solutions for maintaining an involved and interested group of makers in the spaces to be opened.</p>
							<p>When carrying out activities in VS Niketan and running an infographics workshop at Mahendra Rashtriya School, we found that students need some instructions and direction before they begin working. A culture of experimenting and questioning is still nascent in the schools we visited. Our original idea of writing a manual and leaving it in the makerspace may not be enough. Our plan now is to host an “open house” consisting of workshops for kids (or parents or teachers) to get familiar with the equipment and the space before they can begin experimenting and critically engaging with the equipment.
							</p>

<!-- 							<ul>
								<li>Lorem ipsum dolor sit amet consectetur</li>
								<li>Assumenda repellat atque modi temporibus</li>
								<li>Dolore facilis ex sunt ea praesentium</li>
							</ul> -->
						</div>
					</div>
				</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

